@import '../../assets/scss/libs/skel';
@import '../../assets/scss/libs/vars';
@import '../../assets/scss/libs/functions';

.wasm-lab {
  .inner-main {
    .no-hover summary {
      padding-bottom: 1.5em;
    }
  }
  main {
    details summary {
      cursor: pointer;
    }

    .map-controls {
      margin-bottom: 1em;
      > * {
        flex: auto;
        padding: 1.5em 1em;
        border-top: solid 2px _palette(border);
        &:last-child {
          border-bottom: solid 2px _palette(border);
        }
      }

      .map-settings {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;

        input[type=number] {
          max-width: 3.5em;
        }

        > * {
          padding-right: 2em;
        }
      }
    }
    .point-comparison {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

    }
  }
}