@import '../../assets/scss/libs/vars';

.map-and-stats {
  $map-margin: 0.3em;
  flex-basis: $main-content-width / 2 - (2 * $map-margin);
  max-width: $main-content-width / 2 - (2 * $map-margin);
  margin: $map-margin;

  h3 {
    text-align: center;
  }
  
  $shadow-px: 3px;
  $shadow-blur: 4px;
  .error {
    color: red;
    font-size: 1.2em;
    position: absolute;
    z-index: 10;
    background-color:rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 8em 0;
    text-shadow:
      $shadow-px $shadow-px $shadow-blur black,
      -$shadow-px $shadow-px $shadow-blur black,
      $shadow-px (-$shadow-px) $shadow-blur black,
      (-$shadow-px) (-$shadow-px) $shadow-blur black;
  }

	.gmap {
		position: relative;
		height: 350px;
	}

  .stats {
    max-width: 16em;
    margin: 0 auto 1em auto;
    li span {
      display: flex;
      flex-direction: row;
      align-content: space-between;
      span {
        flex-basis: 100%;
        &.stat-value {
          flex-basis: 0;
        }
      }
    }
  }
  
  details > pre {
    overflow: auto;
  }

  .wasm-cluster {
    position: relative;
    z-index: 1;
    * {
      transform: translate(-50%, -50%);
      position: absolute;
      cursor: pointer;
    }
    img {
      z-index: 2;
    }
    span {
      z-index: 3;
      font-size: 11px;
      font-family: Arial,sans-serif;
      font-weight: bold;
      color: black;
    }
  }
  .wasm-marker {
    transform: translate(-50%, -100%);
    cursor: pointer;
  }
}