.test-controls {
  .inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;

    label {
      padding: 0 2em;

      input[type=number] {
        max-width: 3.5em;
      }
    }

  }
}