@import '../../assets/scss/libs/skel';
@import '../../assets/scss/libs/vars';
@import '../../assets/scss/libs/functions';
@import '../../assets/scss/libs/breakpoints';

.test-controls {
  .inputs {
    display: grid;
    grid-template: 
      "minZoomLabel maxZoomLabel runsLabel maxPansLabel submitResultsLabel"
      "startTest prevResults na na saveLocallyLabel";
    gap: 1em 2em;
    justify-items: center;
    align-items: center;

    #minZoomLabel {
      grid-area: minZoomLabel;
    }
    #maxZoomLabel {
      grid-area: maxZoomLabel;
    }
    #runsLabel {
      grid-area: runsLabel;
    }
    #maxPansLabel {
      grid-area: maxPansLabel;
    }
    #saveLocallyLabel {
      grid-area: saveLocallyLabel;
    }
    #submitResultsLabel {
      grid-area: submitResultsLabel;
    }
    #startTest {
      grid-area: startTest;
    }
    #prevResults {
      grid-area: prevResults;
    }

    label {
      margin: 0;

      input[type=number] {
        max-width: 3.5em;
      }
    }

  }
}

.graph-modal {
  background-color: white;
  width: 95%;
  max-width: 50em;
  height: 70vh;
  max-height: 35em;
  border: solid 3px _palette(border);
  margin: 15vh auto;
  outline: 0;
  border-radius: 6px;
  position: relative;

  button.close {
    position: absolute;
    bottom: 1.5em;
    right: 2em;
  }
}

@include breakpoint(small) {
  .graph-modal {
    height: 100%;
    width: 100%;
    max-height: calc(100% - 12px);
    max-width: calc(100% - 12px);
    margin: 6px;
  }
}